{% extends "base/base.html"%}

{% block start %}

<div class="container mt-4">
    <div class="row">
        {% for product in products %}
        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <figure class="card card-product-grid">
                <a href="{% url 'get_product' product.slug %}" class="title text-truncate d-block" style="max-width: 100%; min-height: 40px;">
                    <div class="img-wrap">
                        <img src="/media/{{product.product_images.first.image}}" class="img-fluid">
                    </div>                
                </a>
                <figcaption class="info-wrap border-top text-center">
                    <a href="{% url 'get_product' product.slug %}" class="title text-truncate d-block" style="max-width: 100%; min-height: 40px;">
                        <b>{{ product.product_name }}</b>
                    </a>
                    <div class="price mt-2">
                        <p>&#x20b9; {{ product.price }}</p>
                    </div>
                </figcaption>
            </figure>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
