{% extends "base/base.html"%}

{%  block start %}

<section class="section-content bg py-3 mb-0">
  <div class="container p-0">
    <div class="card">
      <div class="row no-gutters">
        
        <!-- Image Gallery -->
        <aside class="col-lg-6 col-md-6 col-12">
          <article class="gallery-wrap"> 
            <div class="img-big-wrap text-center">
              <div> 
                <a href="#"><img src="/media/{{product.product_images.first.image}}" class="img-fluid"></a>
              </div>
            </div>
            <div class="thumbs-wrap d-flex justify-content-center flex-wrap">
              {% for image in product.product_images.all %}
              <a href="#" class="item-thumb m-1"> 
                <img src="/media/{{image.image}}" class="img-fluid" style="max-width: 60px;">
              </a>
              {% endfor %}
            </div>
          </article>
        </aside>

        <!-- Product Details -->
        <main class="col-lg-6 col-md-6 col-12 border-left">
          <article class="content-body p-3">
            <h2 class="title">{{product.product_name}}</h2>

            <div class="rating-wrap my-3">
              <ul class="rating-stars">
                <li style="width:80%" class="stars-active"> 
                  <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                  <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                  <i class="fa fa-star"></i> 
                </li>
                <li>
                  <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                  <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                  <i class="fa fa-star"></i> 
                </li>
              </ul>
              <small class="label-rating text-muted">132 reviews</small>
              <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
            </div>

            <div class="mb-3"> 
              <var class="price h4">&#8377;{{product.price}}.00</var> 
            </div>

            <p>{{product.product_desription}}</p>

            <dl class="row">
              <dt class="col-sm-3">Delivery</dt>
              <dd class="col-sm-9">India </dd>
            </dl>

            <hr>

            <div class="form-row">
              <!-- Quantity Selector -->
              <div class="form-group col-md-6 col-12">
                <label>Quantity</label>
                <div class="input-group mb-3 input-spinner">
                  <div class="input-group-prepend">
                    <button class="btn btn-light" type="button" id="button-plus"> + </button>
                  </div>
                  <input type="text" class="form-control text-center" value="1">
                  <div class="input-group-append">
                    <button class="btn btn-light" type="button" id="button-minus"> − </button>
                  </div>
                </div>
              </div>

              <!-- Size Selection -->
              {% if product.size_variant.count %}
              <div class="form-group col-md-6 col-12">
                <label>Select size</label>
                <div class="mt-1 d-flex flex-wrap">
                  {% for size in product.size_variant.all %}
                  <label class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="select_size" class="custom-control-input">
                    <div class="custom-control-label">{{size.size_name}}</div>
                  </label>
                  {% endfor %}
                </div>
              </div>
              {% endif %}
            </div>

            <a href="#" class="btn btn-primary"> Buy now </a>
            <a href="{% url 'add_to_cart' product.uid  %}" class="btn btn-outline-primary"> 
              <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>
            </a>

          </article>
        </main>
      </div>
    </div>
  </div>
</section>

{% endblock %}